plugins/Vire_MOS/resources/data/mos/xml/2.0.0/MOS_Unit.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ____________________________________________________________________________________     -->
  <!-- <Root> tag is define just for testing the dictionary with a XML file : see the           -->
  <!-- "testunit.xml" file.                                                                     -->
  <!-- this tag is not used with the dict_device.xsd                                            -->
  <!-- the dict_device.xsd use directly the <Unit> tag                                          -->
  <!-- ____________________________________________________________________________________     -->
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Unit"    minOccurs="1" maxOccurs="10" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ____________________________________________________________________________________     -->
  <!-- begin definition of <Unit> tag                                                           -->
  <!-- for each familly of element (International System of Units : see bellow)                 -->
  <!-- the user define an unit with a control of syntax                                         -->
  <!-- example : for massUnit -> the user have to define the unit attribute                     -->
  <!-- between  mg,g,kg                                                                         -->
  <!-- in the XML file the user define like this : <Unit><massUnit unit="kg"/></Unit>           -->
  <!-- ____________________________________________________________________________________     -->

  <!-- ____________________________________________________________________________________     -->
  <!-- example1 : example  of simple XML file for testing                                       -->
  <!-- ____________________________________________________________________________________     -->
  <!--
      <?xml version="1.0" encoding="UTF-8"?>
      <Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="unit.xsd">
      <Unit>
      <lengthUnit  unit="kg"/>
      </Unit>
      <Unit>
      <timeUnit  unit="s"/>
      </Unit>
      </Root>
  -->
  <!-- ____________________________________________________________________________________     -->

  <!-- ____________________________________________________________________________________     -->
  <!-- example2 : example with MOS description XML file                                         -->
  <!-- ____________________________________________________________________________________     -->
  <!--
      <?xml version="1.0" encoding="UTF-8"?>
      <OPCUA xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="http://lappweb.in2p3.fr/~panazol/xsd/v2_0_0/dict_deviceUnit.xsd">
      <Name>MOS_Server</Name>
      <SimpleDevice>
      <Name>Shutter</Name>
      <SimpleDatapoint>
      <Id>state</Id>
      <Name>SensorPosition</Name>
      <Type>int32</Type>
      <DefaultValue>0</DefaultValue>
      <Unit><lengthUnit  unit="mm"/></Unit>
      </SimpleDatapoint>
      </SimpleDevice>
      </OPCUA>
  -->
  <!-- ____________________________________________________________________________________    -->
  <!-- remark : if you write <Unit><lengthUnit  unit="kg"/></Unit> you have an error           -->
  <!-- ____________________________________________________________________________________    -->

  <!-- ___________________________________________________________________________ -->
  <!--                               The SI base units table                       -->
  <!-- __________________________________________________________________________  -->
  <!--  Quantity                |       Unit            |       Unit    |          -->
  <!--  name                    |       name            |       symbol  |          -->
  <!-- ___________________________________________________________________________ -->
  <!--  length                  |       metre           |       m       |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  mass                    |       kilogram        |       kg      |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  time                    |       second          |       s       |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  electric current        |       ampere          |       A       |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  thermodynamic temperature|      kelvin          |       K       |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  amount of substance     |       mole            |       mol     |          -->
  <!--                          |                       |               |          -->
  <!--                          |                       |               |          -->
  <!--  luminous intensity      |       candela         |       cd      |          -->
  <!--                          |                       |               |          -->
  <!-- ___________________________________________________________________________ -->

  <!-- __________________________________________________________________________________________________________________________________ -->
  <!--                               Named units derived from SI base units table                                                         -->
  <!-- __________________________________________________________________________________________________________________________________ -->
  <!--  Quantity                                |       Name            |       Symbol  |Expressed in   |       Expressed in    |         -->
  <!--                                          |                       |               |terms of       |       terms of        |         -->
  <!--                                          |                       |               |other SI units |       SI base units   |         -->
  <!-- __________________________________________________________________________________________________________________________________ -->
  <!--  angle                                   |       radian          |       rad     |               |       m·m−1           |         -->
  <!--  solid angle                             |       steradian       |       sr      |               |       m2·m−2          |         -->
  <!--  frequency                               |       hertz           |       Hz      |               |       s−1             |         -->
  <!--  force, weight                           |       newton          |       N       |               |       kg·m·s−2        |         -->
  <!--  pressure, stress                        |       pascal          |       Pa      |       N/m2    |       kg·m−1·s−2      |         -->
  <!--  energy, work, heat                      |       joule           |       J       |       N·m     |       kg·m2·s−2       |         -->
  <!--  power, radiant flux                     |       watt            |       W       |       J/s     |       kg·m2·s−3       |         -->
  <!--  electric charge or quantity of electricity |    coulomb         |       C       |               |       s·A             |         -->
  <!--  voltage (electrical potential difference)|      volt            |       V       |       W/A     |       kg·m2·s−3·A−1   |         -->
  <!--  electric capacitance                    |       farad           |       F       |       C/V     |       kg−1·m−2·s4·A2  |         -->
  <!--  electric resistance, impedance, reactance |     ohm             |       Ω       |       V/A     |       kg·m2·s−3·A−2   |         -->
  <!--  electrical conductance                  |       siemens         |       S       |       A/V     |       kg−1·m−2·s3·A2  |         -->
  <!--  magnetic flux                           |       weber           |       Wb      |       V·s     |       kg·m2·s−2·A−1   |         -->
  <!--  magnetic field strength                 |       tesla           |       T       |       Wb/m2   |       kg·s−2·A−1      |         -->
  <!--  inductance                              |       henry           |       H       |       Wb/A    |       kg·m2·s−2·A−2   |         -->
  <!--  temperature relative to 273.15 K        |       degree Celsius  |       °C      |               |       K               |         -->
  <!--  luminous flux                           |       lumen           |       lm      |       cd·sr   |       cd              |         -->
  <!--  illuminance                             |       lux             |       lx      |       lm/m2   |       m−2·cd          |         -->
  <!--  radioactivity (decays per unit time)    |       becquerel       |       Bq      |               |       s−1             |         -->
  <!--  absorbed dose (of ionizing radiation)   |       gray            |       Gy      |       J/kg    |       m2·s−2          |         -->
  <!--  equivalent dose (of ionizing radiation) |       sievert         |       Sv      |       J/kg    |       m2·s−2          |         -->
  <!--  catalytic activity                      |       katal           |       kat     |               |       mol·s−1         |         -->
  <!-- __________________________________________________________________________________________________________________________________ -->

  <xs:element name="Unit">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="lengthUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="timeUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="electricCurrentUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="massUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="thermodynamicTemperatureUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="luminousIntensityUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="amountOfSubstance" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="angleUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="solid_angleUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="frequencyUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="force_weighUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="pressure_stressUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="energy_work_heatUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="power_radiantFluxUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="electricChargeUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="voltageUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="electricCapacitanceUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="electricResistanceUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="electricalConductanceUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="magneticFluxUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="magneticFieldUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="inductanceUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="temperatureUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="luminousFluxUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="illuminanceUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="radioactivityUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="absorbedDoseUnit" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="equivalentDoseUnit"/>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="catalyticActivityUnit"/>
        </xs:choice>
      </xs:sequence>
      <!-- <xs:attribute name="test" use="required"/> -->
    </xs:complexType>
  </xs:element>

  <xs:element name="massUnit" type="massType"/>
  <xs:element name="lengthUnit" type="lengthType"/>
  <xs:element name="electricCurrentUnit" type="electricCurrentType"/>
  <xs:element name="thermodynamicTemperatureUnit" type="thermodynamicTemperatureType"/>
  <xs:element name="luminousIntensityUnit" type="luminousIntensityType"/>
  <xs:element name="timeUnit" type="timeType"/>
  <xs:element name="amountOfSubstance" type="amountOfSubstanceType"/>
  <xs:element name="angleUnit" type="angleType"/>
  <xs:element name="solid_angleUnit" type="solid_angleType"/>
  <xs:element name="frequencyUnit" type="frequencyType"/>
  <xs:element name="force_weighUnit" type="force_weighType"/>
  <xs:element name="pressure_stressUnit" type="pressure_stressType"/>
  <xs:element name="energy_work_heatUnit" type="energy_work_heatType"/>
  <xs:element name="power_radiantFluxUnit" type="power_radiantFluxType"/>
  <xs:element name="electricChargeUnit" type="electricChargeType"/>
  <xs:element name="voltageUnit" type="voltageType"/>
  <xs:element name="electricCapacitanceUnit" type="electricCapacitanceType"/>
  <xs:element name="electricResistanceUnit" type="electricResistanceType"/>
  <xs:element name="electricalConductanceUnit" type="electricalConductanceType"/>
  <xs:element name="magneticFluxUnit" type="magneticFluxType"/>
  <xs:element name="magneticFieldUnit" type="magneticFieldType"/>
  <xs:element name="inductanceUnit" type="inductanceType"/>
  <xs:element name="temperatureUnit" type="temperatureType"/>
  <xs:element name="luminousFluxUnit" type="luminousFluxType"/>
  <xs:element name="illuminanceUnit" type="illuminanceType"/>
  <xs:element name="radioactivityUnit" type="radioactivityType"/>
  <xs:element name="absorbedDoseUnit" type="absorbedDoseType"/>
  <xs:element name="equivalentDoseUnit" type="equivalentDoseType"/>
  <xs:element name="catalyticActivityUnit" type="catalyticActivityType"/>

  <xs:complexType name="massType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mg"/>
          <xs:enumeration value="g"/>
          <xs:enumeration value="kg"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="amountOfSubstanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mol"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="angleType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mrad"/>
          <xs:enumeration value="rad"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="solid_angleType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="sr"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="frequencyType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Hz"/>
          <xs:enumeration value="kHz"/>
          <xs:enumeration value="MHz"/>
          <xs:enumeration value="GHz"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="force_weighType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="pressure_stressType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="bar"/>
          <xs:enumeration value="mbar"/>
          <xs:enumeration value="Pa"/>
          <xs:enumeration value="mPa"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="energy_work_heatType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="J"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="power_radiantFluxType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uW"/>
          <xs:enumeration value="mW"/>
          <xs:enumeration value="W"/>
          <xs:enumeration value="kW"/>
          <xs:enumeration value="MW"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="electricChargeType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="C"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="voltageType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uV"/>
          <xs:enumeration value="mV"/>
          <xs:enumeration value="V"/>
          <xs:enumeration value="kV"/>
          <xs:enumeration value="MV"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="electricCapacitanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pF"/>
          <xs:enumeration value="uF"/>
          <xs:enumeration value="mF"/>
          <xs:enumeration value="F"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="electricResistanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="MOhm"/>
          <xs:enumeration value="ohm"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="electricalConductanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="S"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="magneticFluxType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Wb"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="magneticFieldType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uT"/>
          <xs:enumeration value="mT"/>
          <xs:enumeration value="T"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="inductanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uH"/>
          <xs:enumeration value="mH"/>
          <xs:enumeration value="H"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="temperatureType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="C"/>
          <xs:enumeration value="K"/>
          <xs:enumeration value="F"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="luminousFluxType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lm"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="illuminanceType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lx"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="radioactivityType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Bq"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="absorbedDoseType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Gy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="equivalentDoseType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Sv"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="catalyticActivityType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="kat"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="electricCurrentType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uA"/>
          <xs:enumeration value="mA"/>
          <xs:enumeration value="A"/>
          <xs:enumeration value="kA"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="luminousIntensityType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cd"/>
          <xs:enumeration value="lx"/>
          <xs:enumeration value="lm"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="thermodynamicTemperatureType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Celsius"/>
          <xs:enumeration value="Kelvin"/>
          <xs:enumeration value="Fahrenheit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="timeType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="us"/>
          <xs:enumeration value="ms"/>
          <xs:enumeration value="s"/>
          <xs:enumeration value="min"/>
          <xs:enumeration value="h"/>
          <xs:enumeration value="d"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="lengthType">
    <xs:attribute name="unit" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mm"/>
          <xs:enumeration value="cm"/>
          <xs:enumeration value="dm"/>
          <xs:enumeration value="m"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
